<h1>💳 Secure Checkout</h1>
<hr>

<div *ngIf="cartItems$ | async as cartItems">

  <div *ngIf="cartItems.length === 0; else orderSummary">
    <h2>Your cart is empty!</h2>
    <p>Please add items before checking out.</p>
    <button routerLink="/products">Go to Shop</button>
  </div>

  <ng-template #orderSummary>
    <h2>Order Summary ({{ cartItems.length }} unique items)</h2>

  <ul>
      <li *ngFor="let item of cartItems">
        {{ item.quantity }} x {{ item.product.name }} &#64; ${{ item.product.price.toFixed(2) }}
      </li>
    </ul>

    <hr>

    <h3>Total Due: <span style="font-weight: bold; color: green;">${{ totalPrice.toFixed(2) }}</span></h3>

    <button (click)="confirmOrder()">CONFIRM & PAY</button>
    <button routerLink="/cart">Back to Cart</button>
  </ng-template>
</div>