<div class="checkout-container">
  <h2>Checkout</h2>
<div class="payment-methods">
  <h3>Select Payment Method</h3>
  <label>
    <input type="radio" [(ngModel)]="paymentMethod" name="payment" value="COD"> Cash on Delivery
  </label>
  <label>
    <input type="radio" [(ngModel)]="paymentMethod" name="payment" value="ONLINE"> Online Payment
  </label>
</div>
  <div class="checkout-grid">
  <div class="order-summary">
  <h3>Order Summary</h3>
  <p>Total Items: {{ checkoutItems().length }}</p>
  
  <!-- <p>Total Amount: <strong>{{ calculateSubtotal | currency:'INR' }}</strong></p> -->
   <p>Total Amount: <strong>{{ totalAmount() | currency:'INR' }}</strong></p>
</div>
    <form (ngSubmit)="placeOrder()" class="shipping-form">
  <h3>Shipping Information</h3>
  <input [(ngModel)]="shippingDetails.full_name" name="name" placeholder="Full Name" required>
  <input [(ngModel)]="shippingDetails.address" name="address" placeholder="Shipping Address" required>
  
  <input [(ngModel)]="shippingDetails.city" name="city" placeholder="City" required>
  
  <input [(ngModel)]="shippingDetails.phone" name="phone" placeholder="Phone Number" required>
  
 <button type="submit" [disabled]="checkoutItems().length === 0">
  Confirm Order
</button>
</form>
  </div>
</div>