.filter-controls {
    display: flex;
    gap: 15px;
    margin-bottom: 25px;
    align-items: center;

    input, select {
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 1rem;
    }

    input {
        flex-grow: 1; /* Allows search bar to take more space */
    }
}

.product-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}